/*29c7ac
1089ff  blue
e5e5e5  dark white
eeeeee light white 
#5ba8da blue*/

.navbar {
  margin: 0;
  background-color: #0175b2;
  padding: 10px 10px;
}

.nav-item {
  padding: 0px 10px;
}

.nav-link:hover {
  color: black;
}

.nav-link {
  font-weight: 400;
  color: white;
  font-size: 16;
}

.jumbotron {
  background: center left url(../images/blue.jpg);
  height: 750px;
  color: white;
  padding-top: 140px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.display-4 {
  font-weight: 400;
  color: white;
}

.card-deck {
  padding: 30px 100px;
  margin: 0px;
}
.card {
  margin-left: 30px;
  margin-right: 30px;
  border: 0px;
}

.page2 {
  background-color: #e8e4e1;
  padding-top: 40px;
  padding-bottom: 30px;
}

i {
  font-size: 80px;
}
p {
  font-size: 15px;
}

/* reviews */

.carousel-inner {
  padding: 100px 200px;
}

.blockquote-footer {
  text-align: center;
}

.carousel {
  background-color: #e8e4e1;
  padding-top: 40px;
}

/* gallery */
* {
  box-sizing: border-box;
}
.gal-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.row-gallery {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; /* IE 10 */
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.row-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 800px) {
  .row-gallery {
    padding: 20px 200px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* footer part */

.footer-logo {
  width: 100px;
}

.left {
  padding: 20px 40px 20px 40px;
}

.middle {
  padding: 20px 40px 20px 40px;
}

.right {
  padding: 20px 40px 20px 40px;
}

.new_footer_area {
  /* background: #fbfbfd; */
  background-image: linear-gradient(to bottom, #0175b2, #fbfbfd);
}

.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: white;
  margin-bottom: 20px;
}
.new_footer_top .company_widget {
  border-width: 1px;
  margin-top: 20px;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: black;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: white;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.new_footer_top .f_social_icon a:hover {
  background: #0175b2;
  border-color: #00bde7;
  color: white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: white;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png")
    no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif")
    no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.list-unstyled {
  padding-top: 20px;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif")
    no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/* -----------------------------sell car---------------- */

.sell-container {
  background: center right url(../images/carart.jpg);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  overflow: hidden;
  max-width: 100%;
  margin-top: 50px;
}
.sellpage {
  background: center url(../images/carart.jpg);
  padding-bottom: 40px;
}

.heading h4 {
  padding-top: 90px;
  font-weight: 500;
  text-align: center;
  font-size: 40px;
}

.header {
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}

.form {
  padding: 30px 40px;
}

.header h2 {
  margin: 0;
}
.form label {
  font-weight: 450;
}
.form button {
  background-color: #264653;
  border: 2px solid #264653;
  color: #fff;
  font-size: 16px;
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

/* -----------------------------------about-us------------------------------------ */

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.abtpage {
  padding-top: 100px;
  padding-left: 350px;
  padding-right: 350px;
  background-color: #e2e2eb;
}

@media screen and (max-width: 900px) {
  .abtpage {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.child {
  text-align: center;
  border-radius: 50%;
}

/* ----------------------------------------contact us----------------------------------------- */

body {
  /* background: -webkit-linear-gradient(left, #0072ff, #00c6ff); */
  background-color: #0175b2;
}
.contact-form {
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form {
  padding: 14%;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
